@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

$PrimeColor : #6556FF;
$PrePrimeColor : #EDEFF3;
$SecondaryColor : #FF7422;
$TextColor : #666687;
$LinkColor: #2F6ED5;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
    font-family: "Inter", sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

p {
    margin-bottom: 0;
    color: #666687;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
    color: #222c44;
}

figure {
    margin: 0px !important;
}

dl,
ol,
ul {
    margin-top: 0;
    margin-bottom: 0 !important;
    padding-left: 0;

    li {
        list-style: none;
    }
}

html {
    scroll-behavior: smooth;
}